<p>
  {{pageTitle}}
</p>

<div class='panel panel-default'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <!-- Filter the things   -->
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>{{'Filter by' | translate:lang  }} {{listFilter}}</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h3>{{'Filtered by' | translate:lang  }} {{listFilter}} </h3>
            </div>
        </div>

        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

        <div class='table-responsive'>
            <table class='table'
                   *ngIf='things && things.length'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-default'
                                (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>thing</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let thing of things | thingFilter:listFilter'>

                        <td>
                            <img *ngIf='showImage'
                                 [src]='thing.imageUrl'
                                 [title]='thing.thingName | uppercase'
                                 [style.width.px]='imageWidth' 
                                 [style.margin.px]='imageMargin'>
                        </td>
                        <td><a [routerLink]="['/thing', thing.thingId]">
                            {{thing.thingName}}
                            </a>
                        </td>
                        <td>{{ thing.thingCode | lowercase }}</td>
                        <td>{{ thing.releaseDate }}</td>
                        <td>{{ thing.price | currency:'USD':true:'1.2-2' }}</td>
                        <td>
                            <star-rate [rating]='thing.starRating'
                                    (ratingClicked)='onRatingClicked($event)'>
                            </star-rate>
                       </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>